<div ng-controller="AdminUsersController">

    <hr class="spacer-20"/>

    <table st-table="displayedUsers" st-safe-src="users" class="table table-striped table-hover" ng-cloak>
        <thead>
            <tr>
                <th colspan="3"><input st-search class="form-control" placeholder="Search users" type="text"/></th>
            </tr>
            <tr>
                <th st-sort="email" st-sort-default="true">Email</th>
                <th st-sort="roles">Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in displayedUsers">
                <td>{{ user.email }}</td>
                <td>{{ user.roles | join }}</td>
                <td class="text-right">
                    <span ng-if="!user.isAdmin">
                        <button class="btn btn-primary btn-sm" ng-click="makeAdmin(user)">Assign admin rights</button>
                    </span>
                    <span ng-if="user.isAdmin">
                        <button class="btn btn-primary btn-sm" ng-click="revokeAdmin(user)">Revoke admin rights</button>
                    </span>
                    <button class="btn btn-danger btn-sm" ng-click="remove(user)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-center">
                <div st-pagination st-items-by-page="10" st-displayed-pages="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>

</div>