<div ng-controller="AdminController">

    <div class="tabs-fixed-container">
        <tabset class="tabs-fixed container">
            <tab heading="USERS" ui-sref="root.admin.users" ui-sref-active="root.admin.users"></tab>
            <tab heading="ENDPOINTS" ui-sref="root.admin.endpoints" ui-sref-active="root.admin.endpoints"></tab>
            <tab heading="LANGUAGES" ui-sref="root.admin.languages" ui-sref-active="root.admin.languages"></tab>
            <tab heading="VIEWS" ui-sref="root.admin.views" ui-sref-active="root.admin.views"></tab>
            <tab heading="MINIAPPS" ui-sref="root.admin.miniapps" ui-sref-active="root.admin.miniapps"></tab>
        </tabset>
    </div>

    <hr class="tabs-fixed-clear"/>

    <ui-view></ui-view>

</div>