<div ng-controller="AdminController">

    <div class="heading-fixed-container heading-admin">
        <div class="container">
            <ul class="nav nav-heading navbar-left"><li><div class="heading">ADMINISTRATION</div></li></ul>
            <ul class="nav nav-tabs navbar-right">
                <li ui-sref-active="active"><a ui-sref="root.admin.users">USERS</a></li>
                <li ui-sref-active="active"><a ui-sref="root.admin.endpoints">ENDPOINTS</a></li>
                <li ui-sref-active="active"><a ui-sref="root.admin.languages">LANGUAGES</a></li>
                <li ui-sref-active="active"><a ui-sref="root.admin.miniapps">MINIAPPS</a></li>
                <li ui-sref-active="active"><a ui-sref="root.admin.views">VIEWS</a></li>
            </ul>
        </div>
    </div>

    <hr class="heading-fixed-clear"/>

    <ui-view></ui-view>

</div>