<div class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController as header">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="root.home" class="navbar-brand">LD Explorer</a>
            <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" collapse="navCollapsed">
            <form class="navbar-form navbar-left" role="search" ng-submit="header.search()">
                <input type="text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-default visible-xs">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-show="header.identity.isUser" dropdown>
                    <a href role="button" class="dropdown-toggle" dropdown-toggle>{{ header.identity.profile.email }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="root.profile">Profile</a></li>
                        <li ng-show="header.identity.isAdmin"><a ui-sref="root.admin.users">Administration</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="header.logout()">Logout</a></li>
                    </ul>
                </li>
                <li ng-show="header.identity.isGuest"><a ui-sref="root.login">Login</a></li>
                <li ng-show="header.identity.isGuest"><a ui-sref="root.register">Register</a></li>
            </ul>

        </div>

    </div>
</div>

<div class="container main-container" ui-view></div>