html, body, #root {
    min-height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#wrap {
    margin: 0 auto -60px;
}

#push {
    height: 100px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
    line-height: 60px;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

a, th[st-sort] {
    cursor: pointer;
}

.word-wrap {
    word-wrap: break-word;
}

.navbar-brand {
    white-space: nowrap !important;
}
li.user-menu {
    display: inline-block;
    white-space: nowrap;
}

.main-container {
    padding-top: 64px;
}

.heading-fixed-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    z-index: 1000;
    background: #FFF;
    box-shadow: inset 0 -1px 0 #dddddd;
}

hr.heading-fixed-clear {
    height: 88px;
    border: 0;
    clear: both;
    margin: 0;
}

.heading-fixed-container div.heading {
    position: relative;
    display: block;
    padding: 10px 15px 10px 0;
}

.nav-tabs-centered {
    text-align: center !important;
    border-bottom: 1px solid #dddddd;
}
.nav-tabs-centered li {
    display: inline-block !important;
    float: none;
}

hr.spacer-10 {
    border: 0;
    clear: both;
    margin:0 0 10px;
}

hr.spacer-20 {
    border: 0;
    clear: both;
    margin:0 0 20px;
}

@media (min-width: 768px) {
    .input-wide {
        width: 230px !important;
    }
    .input-search {
        width: 230px !important;
    }
    li.user-menu {
        max-width: 140px !important;
    }
    hr.heading-fixed-clear {
        height: 44px;
    }
}
@media (min-width: 992px) {
    .input-wide {
        width: 380px !important;
    }
    .input-search {
        width: 450px !important;
    }
    li.user-menu {
        max-width: 160px !important;
    }
}
@media (min-width: 1200px) {
    .input-wide {
        width: 500px !important;
    }
    .input-search {
        width: 500px !important;
    }
    li.user-menu {
        max-width: 220px !important;
    }
}

@media (min-width: 768px) {
    select.select-endpoint {
        text-align: center !important;
        width: 120px !important;
    }

    select.select-endpoint option {
        text-align: center !important;
    }
}

.loading-bar {
    text-align: center;
}

.loading-bar .loading-spinner {
    width: 14px;
    height: 14px;

    display: inline-block;

    border:  solid 2px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}


.toast {
    opacity: 1 !important;
}
.toast.ng-enter {
    opacity: 0 !important;
    -webkit-transition: top 0.2s ease-out,opacity 0.2s ease-out;
    -moz-transition: top 0.2s ease-out,opacity 0.2s ease-out;
    -o-transition: top 0.2s ease-out,opacity 0.2s ease-out;
    transition: top 0.2s ease-out,opacity 0.2s ease-out;
    top: -20px;
}
.toast.ng-enter.ng-enter-active {
    opacity: 1 !important;
    top: 0;
}
.toast.ng-leave {
    opacity: 1;
    top: 0;
    -webkit-transition: top 0.2s ease-out,opacity 0.2s ease-out;
    -moz-transition: top 0.2s ease-out,opacity 0.2s ease-out;
    -o-transition: top 0.2s ease-out,opacity 0.2s ease-out;
    transition: top 0.2s ease-out,opacity 0.2s ease-out;
}
.toast.ng-leave.ng-leave-active {
    opacity: 0 !important;
    top: -20px;
}

#toasts-container {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: visible;
}
#toasts-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toasts-container > div {
    position: relative;
    overflow: hidden;
    margin: 5px auto;
    width: 300px;
    opacity: 0.8;
}
#toasts-container > :hover {
    opacity: 1;
    cursor: pointer;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.table tbody > tr > td{
    vertical-align: middle;
}

.table thead input {
    font-weight: normal !important;
}

.miniapp {
    padding: 10px 0;
    background: #FFF;
}

.miniapp-underlined {
    padding: 10px 0;
    background: #FFF;
    border-bottom: 1px solid #ddd;
}

.miniapp:before, .miniapp:after, .miniapp-underlined:before, .miniapp-underlined:after  {
    content: " ";
    display: table;
}

.row-even, .row-odd {
    padding: 2px 5px;
    margin-left: -5px;
    margin-right: -10px;
}
.row-even {
    background: #eee;
}
.row-odd {
    background: #fff;
}
.bottom-margin {
    margin-bottom: 15px;
}
.select-edit {
    width: auto;
}

.sortable-panel {
    min-height: 50px;
}
.sortable-hidden-panel-container .sortable-panel {
    border-color: #F00;
}

.as-sortable-item, .as-sortable-placeholder {
    background: #FFF;
    min-height: 20px;
    margin: 3px 0;
    padding: 3px;
    border: 1px dotted #999;
}
.as-sortable-placeholder {
    background: #DDD;
}